.logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 100%;
  border: 3px solid white;
  border-radius: 50px;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top:0;
  cursor:pointer;
}

.nav-list{
 width: 50%;
 background-color: rgb(195, 195, 66);
 display: flex;
 align-items: center;
}

.nav-list li{
  list-style: none;
  padding: 26px 30px;
}
.nav_list li a:hover {
  text-decoration: none;
  color: grey;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #007CFF;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  .company-info,
  .services-offered,
  .vision-mission {
    padding: 50px 0;
  }
  
  .services-offered ul {
    list-style-type: none;
    padding: 0;
  }
  
  .services-offered ul li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  